<template lang="pug">
    div(style="width:100%")
        v-list(two-line)
            template(v-for='(item, index) in items')
                v-list-tile(:key='index', avatar, ripple)
                    v-list-tile-content
                        v-list-tile-title 
                            strong Cliente: 
                            span {{ item.cliente }}
                        v-list-tile-sub-title.text--primary 
                            strong Status Pedido: 
                            span {{ item.status }}

                        v-list-tile-action-text {{ item.data }}

                    v-list-tile-action
                        v-btn.white--text(color="blue-grey lighten-2") Arquivar

                v-divider(v-if='index + 1 < items.length')

</template>


<script>
    export default {
        data () {
            return {
                items: [
                {
                    cliente: 'Conan o Bárbaro',
                    status: "Em Andamento",
                    data:'01/09/2018'
                },
                {
                    cliente: 'Saga',
                    status: "Em Andamento",
                    data:'01/09/2018'
                },
                {
                    cliente: 'Ikki',
                    status: "Em Andamento",
                    data:'01/09/2018'
                },
                {
                    cliente: 'Rock Balboa',
                    status: "Em Andamento",
                    data:'01/09/2018'
                }
                ]
            }
        }
    }
</script>
