<template lang="pug">
    v-list(two-line, style="width:100%")
        template(v-for='(item, index) in items')
            v-list-tile(:key='index', avatar, ripple)
                v-list-tile-content
                    v-list-tile-title 
                        strong Cliente: 
                        span {{ item.cliente }}
                    v-list-tile-sub-title.text--primary 
                        strong Status Pedido: 
                        span {{ item.status }}

                    v-list-tile-sub-title {{ item.data }}

                v-list-tile-action
                    v-list-tile-action-text {{ item.tempo }}

                    div(style="display:flex")
                        v-icon(color='yellow darken-2' :key="i" v-for="(s, i) in item.feedback")
                            | star

            v-divider(v-if='index + 1 < items.length', :key='index')
</template>


<script>
    export default {
        data () {
            return {
                items: [
                    {
                        tempo: '15 min',
                        feedback: 1,
                        cliente: 'Conan o Bárbaro',
                        status: "Finalizado",
                        data:'01/09/2018'
                    },
                    {
                        tempo: '4 min',
                        feedback: 2,
                        cliente: 'Saga',
                        status: "Finalizado",
                        data:'01/09/2018'
                    },
                    {
                        tempo: '7 min',
                        feedback: 6,
                        cliente: 'Ikki',
                        status: "Finalizado",
                        data:'01/09/2018'
                    },
                    {
                        tempo: '21 min',
                        feedback: 9,
                        cliente: 'Rock Balboa',
                        status: "Finalizado",
                        data:'01/09/2018'
                    }
                ]
            }
        }
    }
</script>