<template lang="pug">
    v-tabs(next-icon='mdi-arrow-right-bold-box-outline', prev-icon='mdi-arrow-left-bold-box-outline', show-arrows)
        v-tabs-slider(color='yellow darken-3')
        v-tab(v-for='(i,index) in items', :key='index', @click='$router.push(i.to)')
            | {{ i.title }}
        v-tabs-items
            v-card(flat)
                v-container
                    v-layout(justify-start, align-start)
                        router-view

</template>

<script>
export default {
	data(){
		return{
			tab: null,
			items: [
				{title:'Ativos', to:'pedidosativos'},
				{title:'Arquivados', to:'pedidosarquivados'}
			]
		}
	}
}
</script>