<template lang="pug">
	v-tabs(next-icon='arrow_forward', prev-icon='arrow_back', show-arrows fixed )
		v-tabs-slider(color='blue-grey darken-3')
		v-tab(v-for='(i,index) in items', :key='index', @click="$router.push( '/chat/' +  i.id)")
			v-badge.alignTab(left overlap :color=" (i.status) ? 'green' : 'red' ")
				small(slot="badge") {{ i.notification}}
				img(:src="i.avatar" width="30" style="filter:grayscale(100%);")
				small {{ i.nome }}

		v-tabs-items
			transition(name="component-fade" mode="out-in")
				router-view

</template>

<script>
export default {
	data(){
		return{
			tab: null,
			items: [
				{
					id:0,
					avatar: 'https://eabiawak.com/wp-content/uploads/2017/07/photo.png',
					nome: "Capitão América",
					notification:0,
					status:true
				},
				{
					id:1,
					avatar: 'https://mbtskoudsalg.com/images/avatar-png-icon-7.png',
					nome: "Jhon Rambo",
					notification:2,
					status:false
				},
				{
					id:2,
					avatar: 'https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png',
					nome: "Bob esponja",
					notification:3,
					status:false
				},
				{
					id:3,
					avatar: 'https://cdn.dribbble.com/users/691634/screenshots/1938437/self-icon-for-dribbble.png',
					nome: "Batman",
					notification:4,
					status:false
				},
				{
					id:4,
					avatar: 'https://eabiawak.com/wp-content/uploads/2017/07/photo.png',
					nome: "Gavião arqueiro",
					notification:55,
					status:true
				},
				{
					id:5,
					avatar: 'https://mbtskoudsalg.com/images/avatar-png-icon-7.png',
					nome: "Jhon Rambo",
					notification:2,
					status:true
				},
				{
					id:6,
					avatar: 'https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png',
					nome: "Bob esponja",
					notification:3,
					status:true
				},
				{
					id:7,
					avatar: 'https://cdn.dribbble.com/users/691634/screenshots/1938437/self-icon-for-dribbble.png',
					nome: "Batman",
					notification:4,
					status:true
				},
				{
					id:8,
					avatar: 'https://eabiawak.com/wp-content/uploads/2017/07/photo.png',
					nome: "Gavião arqueiro",
					notification:55,
					status:true
				},  
				{
					id:9,
					avatar: 'https://cdn.dribbble.com/users/691634/screenshots/1938437/self-icon-for-dribbble.png',
					nome: "Batman",
					notification:4,
					status:true
				},
				{
					id:10,
					avatar: 'https://eabiawak.com/wp-content/uploads/2017/07/photo.png',
					nome: "Gavião arqueiro",
					notification:55,
					status:false
				},
				{
					id:11,
					avatar: 'https://mbtskoudsalg.com/images/avatar-png-icon-7.png',
					nome: "Jhon Rambo",
					notification:2,
					status:true
				},
				{
					id:12,
					avatar: 'https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png',
					nome: "Bob esponja",
					notification:3,
					status:false
				},     
			] 
		}
	},
	beforeCreate()
	{
		//verifica no servidor quais tabs podem ser mostradas
		//redireciona a uma rota que esteja habilitada ou retorna uma mensagen de rotas desabilitadas
		this.$router.push("/chat/1")
	}
}
</script>

<style scoped lang="stylus">
	.icon-home
		font-size 1.5em
		margin-right 10px
	
	.alignTab
		display flex
		align-items center

</style>


