<template lang="pug">
    .padding
        h1(class="blue-grey--text") INFORMAÇÕES GERAIS
        p(class="black--text") Tenha um visão geral de suas atividades
        v-divider.mt-4

        .d-flex(style="margin-top:50px")
            CardStatus(title='Pedidos Ativos', icon='check', color='#58a9d8', total='11')
            CardStatus(title='Ofertas Ativas', icon='check', color='#4bd1c3', total='11')
            CardStatus(title='Total de Produtos', icon='check', color='#9bb2a1', total='11')
            
        v-card
            v-card-title
                | Últimos Pedidos
                v-spacer
                v-text-field(v-model='search', append-icon='search', label='Pesquisar', single-line='', hide-details='')
            v-data-table(:headers='headers', :items='mensagens', :search='search')
                template(slot='items', slot-scope='props')
                    td.text-xs-center {{ props.item.id }}
                    td.text-xs-center {{ props.item.telefone }}
                    td.text-xs-center {{ props.item.mensagem }}
                    td.text-xs-center {{ props.item.datacriacao }}
                    td.text-xs-center {{ props.item.status }}
                v-alert(slot='no-results', :value='true', color='error', icon='warning')
                    |   Sua busca por &quot;{{ search }}&quot; não retornou resultados.
    
</template>


<script>
  import CardStatus from '../CardStatus'

  export default {
    components:{
      CardStatus
    },
    data () {
      return {
        search: '',
        headers: [
          { text: 'id', value: 'id', align:'center' },
          { text: 'Telefone', value: 'telefone', align:'center' },
          { text: 'Mensagem', value: 'mensagem', align:'center' },
          { text: 'Data de criação', value: 'datacriacao', align:'center' },
          { text: 'Status', value: 'status', align:'center' }
        ],
        mensagens: [
          {
            value: false,
            id: 'Frozen Yogurt',
            telefone: 159,
            mensagem: 6.0,
            datacriacao: 24,
            status: 4.0
          },
        ]
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .d-flex
    display flex
    justify-content space-between
    margin-bottom 30px

  .padding
    padding 50px

</style>
