<template lang="pug">
    v-list(two-line, style="width:100%")
        template(v-for='(item, index) in items')
            v-list-tile(:key='index', avatar, ripple)
                v-list-tile-content
                    v-list-tile-title 
                        strong produto: 
                        span {{ item.produto }}
                    v-list-tile-sub-title.text--primary 
                        strong preço: 
                        span {{ item.preco }}

                    v-list-tile-action-text {{ item.dataTermino }}

                v-list-tile-action
                    v-btn.white--text(color="blue-grey lighten-2") Finalizar

            v-divider(v-if='index + 1 < items.length')

</template>


<script>
  export default {
    data () {
      return {
        items: [
          {
            produto: 'Conan o Bárbaro',
            preco: "22.90",
            dataTermino:'01/09/2018'
          },
          {
            produto: 'Saga',
            preco: "22.90",
            dataTermino:'01/09/2018'
          },
          {
            produto: 'Ikki',
            preco: "22.90",
            dataTermino:'01/09/2018'
          },
          {
            produto: 'Rock Balboa',
            preco: "22.90",
            dataTermino:'01/09/2018'
          }
        ]
      }
    }
  }
</script>
