<template lang="pug">
	.chat
		.conversas-content
			.mensagem.msgLeft Olá Mundo!
			.mensagem.msgLeft Olá Mundo!
			.mensagem.msgLeft Olá Mundo!
			.mensagem.msgLeft Olá Mundo!
			.mensagem.msgRight Salve Mundo!
			.mensagem.msgRight Salve Mundo!
			.mensagem.msgLeft Salve!
			.mensagem.msgRight Salve Mundo!
			.mensagem.msgRight Salve Mundo!
			.mensagem.msgRight Salve Mundo!
			.mensagem.msgRight Salve Mundo!
			.mensagem.msgLeft Salve!

		.chatOptions
			div
				v-text-field(outline maxlength="140" color="blue-grey" label="Escreva uma mensagem" style="width:600px")
			div
				v-btn( dark small color="error" style="margin-top:-20px")
					v-icon(dark) clear
					small excluir

				v-btn( dark small color="blue-grey darken-3" style="margin-top:-20px")
					v-icon(dark) search
					small Procurar

</template>

<script>
  export default {
    data () {
      return {
		menus: [
			{
				avatar: 'https://eabiawak.com/wp-content/uploads/2017/07/photo.png',
				nome: "Capitão América",
				notification:9
			},
			{
				avatar: 'https://mbtskoudsalg.com/images/avatar-png-icon-7.png',
				nome: "Jhon Rambo",
				notification:8
			},
			{
				avatar: 'https://image.flaticon.com/icons/png/512/206/206879.png',
				nome: "Arnold chuazinéguer",
				notification:2
			},
			{
				avatar: 'https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png',
				nome: "Bob esponja",
				notification:3
			},
			{
				avatar: 'https://cdn.dribbble.com/users/691634/screenshots/1938437/self-icon-for-dribbble.png',
				nome: "Batman",
				notification:4
			},
			{
				avatar: 'https://eabiawak.com/wp-content/uploads/2017/07/photo.png',
				nome: "Gavião arqueiro",
				notification:55
			},
		],
      }
    }
  }
</script>


<style lang="stylus" >
	.chat
		width 100%
		height calc(100vh - 161px)
		display flex
		flex-direction:column
		background url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.max-2800x2800.jpg') fixed
		background-size 400px
		background-position center
		
	.conversas-content
		overflow-y auto
		height 100%
		padding 20px
		box-sizing border-box

	.msgRight
		float right
		position: relative
		background-color #80CBC4
		&:after
			content '' 
			position absolute 
			right 0
			top 50%
			width 0 
			height 0
			border 12px solid transparent
			border-left-color #80CBC4
			border-right 0
			margin-top -12px
			margin-right -12px	

	.msgLeft	
		float left
		position relative
		background-color #00B8D4
		&:after
			content ''
			position absolute
			left 0
			top 50%
			width 0
			height 0
			border 12px solid transparent
			border-right-color #00B8D4
			border-left 5px
			margin-top -12px
			margin-left -12px

	.chatOptions
		position fixed
		bottom -27px
		width 900px
		display flex
		align-items center
		justify-content flex-start

	.mensagem
		padding 20px
		display block
		width 300px
		color #fff
		margin-bottom 10px
		clear both
		border-radius .8em
		box-shadow 3px 3px 3px silver

</style>
