<template>
  <v-layout>
    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Lista de empresas</span>
          <v-spacer></v-spacer>
          <v-btn color="red lighten-1 white--text" @click="dialogFormEmpresa = true">Nova Empresa</v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="empresas"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left" v-for="(e, i) in props.item.email" :key="i">{{ e }}</td>
            <td class="text-xs-left" v-for="(t, i) in props.item.telefones" :key="i">{{ t }}</td>
            <td class="text-xs-left"><img width="50" :src="`https://67da93a8.ngrok.io/images-loja /${props.item.logo}`"></td>
            <td class="text-xs-left">
              <v-btn fab small dark @click="editItem(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>


    <v-dialog v-model="dialogFormEmpresa" persistent max-width="900px">
      <v-card>
        <v-card-title>
          <span class="headline"> Cadastrar Empresa</span>
        </v-card-title>
        <v-card-text>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs6>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.nome" label="Nome" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.email"
                    :items="dataCadastro.email"
                    :search-input.sync="searchEmails"
                    hide-selected
                    label="Insira os emails"
                    multiple
                    persistent-hint
                    small-chips
                    type="email"
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.categoria"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCategorias"
                    label="Selecione a categoria"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.cidade"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCidades"
                    label="Selecione a cidade"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.endereco" label="Endereço" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.telefones"
                    :items="dataCadastro.telefones"
                    :search-input.sync="searchTelefones"
                    hide-selected
                    hint="Insira somente os números"
                    label="Insira os telefones"
                    multiple
                    persistent-hint
                    small-chips
                    type="number"
                  >
                  </v-combobox>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs6>

                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="1"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormEmpresa = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar()">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editForm" persistent max-width="900" min-height="900">
      <v-card>
        <v-card-title>
          <span class="headline"> Editar Empresa</span>
        </v-card-title>
        <v-card-text>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs6>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.nome" label="Nome" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.email"
                    :items="dataCadastro.email"
                    :search-input.sync="searchEmails"
                    hide-selected
                    label="Insira os emails"
                    multiple
                    persistent-hint
                    small-chips
                    type="email"
                  >
                  </v-combobox>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.categoria"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCategorias"
                    label="Selecione a categoria"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-select
                    v-model="dataCadastro.cidade"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCidades"
                    label="Selecione a cidade"
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-text-field v-model="dataCadastro.endereco" label="Endereço" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-combobox
                    v-model="dataCadastro.telefones"
                    :items="dataCadastro.telefones"
                    :search-input.sync="searchTelefones"
                    hide-selected
                    hint="Insira somente os números"
                    label="Insira os telefones"
                    multiple
                    persistent-hint
                    small-chips
                    type="number"
                  >
                  </v-combobox>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs6>
                <!--<img v-show="!dataCadastro.ext" width="400" :src='dataCadastro.imagemTemp' @click="soriano"/>-->
                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editEmpresa()">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import PictureInput from 'vue-picture-input'
  export default {
    components: {
      PictureInput
    },
    data () {
      return {
        dialogFormEmpresa: false,
        editForm: false,
        searchTelefones: '',
        searchEmails: '',
        dataCadastro: {
          nome: '',
          email: [],
          endereco: '',
          telefones: [],
          imagem: '',
          ext: '',
          categoria: '',
          imagemTemp: ''
        },
        search: '',
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Email',
            align: 'left',
            sortable: false,
            value: 'email'
          },
          {
            text: 'Telefones',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Imagem',
            align: 'left',
            sortable: false,
            value: 'imagem'
          },
          {
            text: 'Ação',
            align: 'left',
            sortable: false,
            value: 'name'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['cadastroEmpresas', 'checkUsuario', 'listaCidade', 'listaCategoria', 'alteraEmpresa']),
      cadastrar(){
        let formData = new FormData()
        formData.append("nome", this.dataCadastro.nome)
        formData.append("email", this.dataCadastro.email)
        formData.append('categoria', this.dataCadastro.categoria)
        formData.append('cidade', this.dataCadastro.cidade)
        formData.append("endereco", this.dataCadastro.endereco )
        formData.append("telefones", this.dataCadastro.telefones )
        formData.append("imagem", this.dataCadastro.imagem )
        formData.append("ext", this.dataCadastro.ext )
        this.cadastroEmpresas(formData).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormEmpresa = false
            this.checkUsuario()
          }
        })
      },
      onChange (image) {
        if (image) {
          this.dataCadastro.imagemTemp = image
          let [format, base] = image.split(',')
          format = format.replace('data:image/', '').replace(';base64', '')
          this.dataCadastro.imagem = base
          this.dataCadastro.ext    = format
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!')
        }
      },

      editItem(empresa) {
        this.editForm = true
        delete empresa.createdAt
        delete empresa.updatedAt
        delete empresa.__v
        this.dataCadastro = Object.assign({}, empresa)
        //this.dataCadastro.imagemTemp = `http://127.0.0.1:3000/images-loja/${empresa.logo}`

      },

      deleteItem(empresa_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.deletaEmpresa(empresa_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaEmpresa()
            })
        }
      },

      editEmpresa() {
        console.log(this.dataCadastro)
        this.alteraEmpresa(this.dataCadastro).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editForm = false
            this.listaEmpresa()
          }
        })
      },
    },
    mounted() {
      //this.loadEmpresas()
      this.checkUsuario()
      this.listaCidade()
      this.listaCategoria()
    },
    computed: {
      ...mapGetters(['getCategorias', 'getCidades']),
      empresas () {
        return this.$store.getters.getDataUser.empresas
      },
      isLoading () {
        return this.$store.getters.getIsLoadingCheckUser
      },
      categoriasEmpresas () {
        return this.$store.getters.getCategoriasEmpresa
      }
    }
  }
</script>
