<template>
    <div class="status" :style="{background: color }" >
        <div class="status-content" >
            <i class="material-icons">{{icon}}</i>
            <span>{{title}}</span>
            <v-divider></v-divider>
            <h6>{{total}}</h6>
        </div>
    </div>
</template>

<script>
export default {
    props:["title","icon","color","total"]
}
</script>


<style>
    .status{
        width:120px;
        height:120px;
        padding:15px;
        color:#fff;
        margin-right:20px;
        margin-bottom:10px;
        box-shadow:0px 0px 10px #ccc;
        border-radius:1px;
    }

    .status:last-child{
        margin-right: 0px;
    }

    .status h6 {
        display:block;
        width:100%;
        font-size:1.6em;
        margin-top:5px;
        border-radius:5px;
        text-align:right;
        text-shadow: 2px 3px 8px #ccc;
    }

    .status i {
        font-size:3em;
    }

    .status-content{
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        margin-right:20px;
        text-align:center;
        margin:auto;
    }
</style>
