<template>
	<div>
        <v-btn outline color="blue-grey darken-8" @click="$router.push('/login')" >Retornar</v-btn>
        <img width="400" class="logo-404" :src="require('../assets/404.png')" alt="protalk 404" />
	</div>
</template>

<style scoped>
    .logo-404{
        display:block;
        margin:14% auto;
    }
</style>
