<template lang="pug">
  <div>
    <v-jumbotron>
      <v-container fill-height="">
        <v-layout align-center="">
          <v-flex>
            <div v-if="isLoading">
              <p>Carregando...</p>
            </div>
            <div v-else>
              <h3 class="display-3">Astandes</h3>
              <span class="subheading">Bem vindo ao painel Astandes</span>
              <v-divider class="my-3"></v-divider>
              <div v-if="dataUser.empresas && dataUser.empresas.length > 0">
              </div>
              <div v-else>
                <div class="title mb-3">Você não possui empresas cadastrada ainda</div>
                <v-btn @click="$router.push('empresas')" class="mx-0" color="blue-grey darken-3" large="">Cadastrar uma</v-btn>
              </div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-jumbotron>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
  computed: {
    isLoading () {
      return this.$store.getters.getIsLoadingCheckUser
    },
    dataUser () {
      return this.$store.getters.getDataUser
    }
  },
  methods: {
    ...mapActions(['checkUsuario'])
  },
  mounted () {
    this.checkUsuario()
  }
}
</script>

