<template>
  <div class="full">
    <div class="modal">
      <form class="form">
        <h1>{{name}}</h1>
        <facebook-login
          appId="1877410968984887"
          @login="onLogin"
          @logout="onLogout"
          @sdk-loaded="sdkLoaded"
        ></facebook-login>
      </form>
    </div>
  </div>
</template>

<script>
import facebookLogin from "facebook-login-vuejs";
import { mapActions } from "vuex";
import axios from "axios";

export default {
  name: "login",
  components: {
    facebookLogin
  },
  data() {
    return {
      isConnected: false,
      name: "",
      email: "",
      personalID: "",
      FB: undefined
    };
  },
  methods: {
    ...mapActions(["setToken"]),
    getUserData() {
      this.FB.api(
        "/me",
        "GET",
        { fields: "id,name,email" },
        userInformation => {
          this.personalID = userInformation.id;
          this.email = userInformation.email;
          this.name = userInformation.name;
        }
      );
    },
    sdkLoaded(payload) {
      let token = payload.FB.getAccessToken();

      console.log('token',token)

      this.$store.getters.getApi.post("auth/facebook", { token }).then(r => {
        if (r.data.status)
        {
          console.log(r.data)
          this.setToken(r.data);
          this.$router.push("/home");
        }
      })
      .catch(e => console.log("err:", e));

      this.isConnected = payload.isConnected;
      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },
    onLogin() {
      console.log('api', this.$store.getters.getApi)
      this.isConnected = true;
      this.getUserData();
    },
    onLogout() {
      this.isConnected = false;
    }
  }
};
</script>

<style scoped>
.full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: fixed
    url(https://viverdeblog.com/wp-content/uploads/2017/09/o-que-e-marketing-digital-thumbnail.png)
    no-repeat;
  background-size: 800px;
  background-position: center center;
}

.form {
  margin-top: -4.5em;
  transition: 1s ease-in-out;
  box-shadow: 3px 3px 9px #ccc;
  width: 500px;
  margin: 15% auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.form h1 {
  color: #ff5252;
  font-weight: normal;
  font-size: 2em;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text {
  color: #3d3d3d;
  cursor: pointer;
}
</style>
