<template>
  <v-layout>
    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Lista de produtos</span>
          <v-spacer></v-spacer>
          <v-btn @click="dialogFormProduto = true">Adicionar novo</v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="produtos"
          hide-actions
          class="elevation-0"
          :loading="isLoading"
          no-data-text="Nenhum produto encontrado"
        >
          <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left">{{ props.item.preco.toFixed(2).toString().replace(".", ",") }}</td>
            <td class="text-xs-left">{{ props.item.categoria.nome }}</td>
            <td class="text-xs-left">
              <v-chip :color="props.item.status ? 'green' : 'red'" text-color="white">
                {{ props.item.status ? 'Ativo' : 'Inativo' }}
              </v-chip>
            </td>
            <td class="text-xs-left"><img width="50" :src="`https://67da93a8.ngrok.io/images-produto/${props.item.imagem}`"></td>
            <td class="text-xs-left">
              <v-btn fab small @click="showFormEditaProduto(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <v-dialog v-model="dialogFormProduto" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastro de produto</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nome" v-model="novoProduto.nome" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                  <v-select
                    v-model="novoProduto.categoria"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCategoriasProdutos"
                    label="Selecione a categoria"
                  ></v-select>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Preço"
                  v-model="novoProduto.preco"
                  type="number"
                  required
                  :prefix="'R$'"
                  >
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* Campos obrigatórios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormProduto = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


    <v-dialog v-model="dialogFormProdutoEdita" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editando {{ novoProduto.nome }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Nome" v-model="novoProduto.nome" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                  <v-select
                    v-model="novoProduto.categoria"
                    item-text="nome"
                    color="blue-grey"
                    item-value="_id"
                    :items="getCategoriasProdutos"
                    label="Selecione a categoria"
                  ></v-select>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Preço"
                  v-model="novoProduto.preco"
                  type="number"
                  required
                  :prefix="'R$'"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <picture-input
                  ref="pictureInput"
                  width="600"
                  height="600"
                  margin="16"
                  accept="image/jpeg,image/png"
                  size="10"
                  button-class="btn"
                  :custom-strings="{
                    upload: '<h1>Bummer!</h1>',
                    drag: 'Escolha uma imagem',
                    change: 'Mudar foto'
                  }"
                  @change="onChange">
                </picture-input>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* Campos obrigatórios</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialogFormProdutoEdita = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editarProduto">Editar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import PictureInput from 'vue-picture-input'
  export default {
    components: {
      PictureInput
    },
    data () {
      return {
        search: '',
        dialogFormProduto: false,
        dialogFormProdutoEdita: false,
        isLoading: true,
        novoProduto:{
          nome:"",
          categoria: '',
          preco:"",
          imagem:null,
          ext:'',
          categoria: '',
          imagemTemp: null
        },
        produtoSelecionado:{
          nome:"",
          categoria: '',
          preco:"",
          imagem:null,
          ext:'',
          _id: ''
        },
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Preço',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          {
            text: 'Tipo',
            align: 'left',
            sortable: false,
            value: 'tipo'
          },
          {
            text: 'Status',
            align: 'left',
            sortable: false,
            value: 'status'
          },
          {
            text: 'Imagem',
            align: 'left',
            sortable: false,
            value: 'imagem'
          },
          {
            text: 'Ação',
            align: 'left',
            sortable: false,
            value: 'name'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['loadProdutos','saveProdutos', 'checkUsuario', 'editaProduto', 'listaCategoriaProduto']),

      onChange (image) {
        if (image) {
          this.novoProduto.imagemTemp = image
          let [format, base] = image.split(',')
          format = format.replace('data:image/', '').replace(';base64', '')
          this.novoProduto.imagem = base
          this.novoProduto.ext    = format
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!')
        }
      },

      cadastrar()
      {
          let formData = new FormData()
          formData.append("nome", this.novoProduto.nome)
          formData.append("categoria", this.novoProduto.categoria)
          //formData.append("nome", this.novoProduto.empresa)
          formData.append("preco", this.novoProduto.preco)
          formData.append("imagem", this.novoProduto.imagem)
          formData.append("ext", this.novoProduto.ext)
          formData.append("empresa", this.empresaSelecionada._id)

        this.saveProdutos( formData ).then(r=>{
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormProduto = false
            this.checkUsuario()
            this.refresh()
          }else{
            this.$eventHub.$emit('snackBarError', r.message);
          }
        }).catch(e => {
          this.$eventHub.$emit('snackBarError', 'Erro ao cadastrar produto');
        })
      },
      refresh () {
        this.isLoading = true
        if(this.empresaSelecionada){
          this.loadProdutos(this.empresaSelecionada).then(r => {
            this.isLoading = false
          })
        }
        else console.log("Falta empresa selecionada")
      },
      showFormEditaProduto(p){
        delete p.createdAt
        delete p.updatedAt
        delete p.__v
        //delete p.imagemTemp
        this.novoProduto = Object.assign({}, p)

        this.dialogFormProdutoEdita = true
        //this.novoProduto.imagemTemp = `https://5e0c71d1.ngrok.io/images-produto/${p.imagem}`
      },
      editarProduto () {
        console.log(this.novoProduto)
        this.editaProduto(this.novoProduto).then(r => {
          if(r.status) {
            this.$eventHub.$emit('snackBar', r.message);
            this.dialogFormProdutoEdita = false
            this.checkUsuario()
            this.refresh()
          }else{
            this.$eventHub.$emit('snackBarError', r.message);
          }
        }).catch(e => {
          this.$eventHub.$emit('snackBarError', 'Erro ao editar produto');
        })
      }
    },
    mounted() {
      this.refresh()
      this.checkUsuario()
      this.listaCategoriaProduto()
    },
    computed: {
      ...mapGetters(['getCategoriasProdutos', 'getDataUser', 'getApi']),
      produtos () {
        return this.$store.getters.getProdutos
      },
      empresaSelecionada () {
        return this.$store.getters.getEmpresaSelecionada
      },
    },
    watch: {
      empresaSelecionada () {
        this.refresh()
      }
    }
  }
</script>
