<template>
    <v-app id="inspire">
      <v-snackbar color="success dard-1" v-model="snackbar" :bottom="'bottom'" :right="'right'" :timeout="3000">{{message}}
        <v-btn color="white" flat="" @click="snackbar=false">Fechar</v-btn>
      </v-snackbar>

      <v-snackbar color="error dard-1" v-model="snackbarError" :bottom="'bottom'" :right="'right'" :timeout="3000">{{message}}
        <v-btn color="white" flat="" @click="snackbar=false">Fechar</v-btn>
      </v-snackbar>
      <v-navigation-drawer style="top:-8px;" v-if="$route.name!='login'&amp;&amp;$route.name!='404'" :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed="fixed" app="app">
        <v-list class="pa-2" two-line="two-line">
          <template v-for="(item, index) in menus">
            <v-subheader v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
            <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
            <v-list-tile v-else="v-else" :key="item.title" avatar="avatar" @click="rotear(item.route)">
              <v-list-tile-avatar>
                <img :src="item.avatar"/>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar v-if="$route.name!='login'&amp;&amp;$route.name!='404'" :clipped-left="$vuetify.breakpoint.lgAndUp" color="error dard-1" dark="dark" app="app" fixed="fixed">
        <v-toolbar-side-icon @click.stop="drawer=!drawer"></v-toolbar-side-icon>
        <v-toolbar-title>BigOferta</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-items v-if="!isLoading">
          <v-btn
            flat
            @click="dialogAlterarEmpresa = true"
            v-if="dataUser.empresas.length"
          >
            {{ empresaSelecionada ? empresaSelecionada.nome : '' }} <v-icon>more_vert</v-icon>
          </v-btn>

        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <router-view style="top:-8px;"></router-view>
      </v-content>

      <v-dialog v-model="dialogAlterarEmpresa" scrollable max-width="300px">
      <v-card>
        <v-card-title>Alterar empresa</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-radio-group v-model="empresaSelecionada._id" column>
            <v-radio
              v-for="(e, i) in dataUser.empresas"
              :key="i"
              @click="setEmp(e)"
              :label="e.nome"
              :value="e._id"
              @change="setEmp(e)"
              ></v-radio>

          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" flat @click="dialogAlterarEmpresa = false">Fechar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>

</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data: () => ({
            drawer: null,
            snackbar: false,
            snackbarError: false,
            message: '',
            dialogAlterarEmpresa: false,
            menus: [
                { header: 'Opções de menu' },
                {
                    avatar: 'http://www.mielectric.com.br/wp-content/themes/mie/img/icons/big/icon-5.png',
                    title: 'Produtos',
                    subtitle: "Gerencie produtos",
                    route:'/produtos'
                },
                { divider: true, inset: true },
                {
                    avatar: 'http://www.mielectric.com.br/wp-content/themes/mie/img/icons/big/icon-5.png',
                    title: 'Empresas',
                    subtitle: "Gerencie empresas",
                    route:'/empresas'
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://img5.apk.tools/150/5/a/2/compreofertas.com.br.png',
                    title: 'Pedidos',
                    subtitle: "Gerencie pedidos de clientes",
                    route:'/pedidos'
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://img5.apk.tools/150/5/a/2/compreofertas.com.br.png',
                    title: 'Ofertas',
                    subtitle: "Gerador de ofertas",
                    route:'/ofertas'
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://images.vexels.com/media/users/3/139911/isolated/preview/1afb4038427b2bd8edd275940aea269d-chat-service-icon-by-vexels.png',
                    title: 'Chat',
                    subtitle: "Atendimento a clientes",
                    route:'/chat'
                },
                { divider: true, inset: true },
                {
                    avatar: 'http://vnek.com.br/wordpress/wp-content/uploads/2016/11/report-300x300.png',
                    title: 'Indicadores',
                    subtitle: "Detalhes estatísticos",
                    route:'/indicadores'
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://www.cargopedia.net/img/icon-validare-300.png',
                    title: 'Meus Dados',
                    subtitle: "Suas Informações pessoais",
                    route:'/meusdados'
                },
                {
                    avatar: 'https://png2.kisspng.com/20180509/adq/kisspng-abmeldung-computer-icons-clip-art-5af27e2e51dcd2.9333093415258414543353.png',
                    title: 'Fazer loggout',
                    route:'/login'
                }
            ],
        }),
        mounted()
        {
          this.$eventHub.on('snackBar', m => {
              this.snackbar=true
              this.message=m
          })
          this.$eventHub.on('snackBarError', m => {
              this.snackbarError=true
              this.message=m
          })
        },
        methods:{
          ...mapActions(['loggout','setEmpresa', 'checkUsuario']),
          rotear(r)
          {
              if(r == "/login") this.loggout()
              this.$router.push(r)
          },

          setEmp(emp) {
            this.setEmpresa(emp)
            this.dialogAlterarEmpresa = false
          },


        },
        computed: {
          dataUser () {
            return this.$store.getters.getDataUser
          },
          isLoading () {
            return this.$store.getters.getIsLoadingCheckUser
          },

          empresaSelecionada () {
            return this.$store.getters.getEmpresaSelecionada
          }
        }
    }
</script>

